@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111827;
}

#tsparticles {
  z-index: -1;
  position: fixed;
}

.not-found-img {
  width: 500px;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 2px 8px;
  background-color: #2f3748;
  border-radius: 4px;
  color: #9eb5d4;
}

@media screen and (max-width: 768px) {
  code {
    padding: 1px 4px;
  }
  
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #102043;
  border: 1px solid #192132;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #122553;
  border-radius: 5px;
  border: 1px solid #101727;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22345f;
}